<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <% images.forEach(image=>{ %>
                        <div class="col-sm-6 col-md-3 mb-3">
                            <img onclick=getImageUrl('<%= image._id %>','<%= image.url %>') src='<%= image.url %>'
                                 alt="<%= image.alt %>" class="fluid img-thumbnail" data-dismiss="modal">
                        </div>
                    <% }) %>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script>
    function getImageUrl(id, url) {
        $("#courseImage").attr("src", url)
        document.getElementById("courseImage").style.display = "block"
        document.getElementById("image").value = id;
        document.getElementById("imageUrl").value = url;
    }
</script>
